page-box {

  $buttonColor: #4CAF50; /* Green */

  #container {
    display: flex;
    padding-bottom: 1em;
  }

  #container button {
    background-color: $buttonColor;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100%;

  }

  #container div {
    flex: 1;
    width: 33%;
    box-sizing: border-box;
    padding: 0 5%;
  }

  #wrapper {
      text-align: center;
  }

  #wrapper button {
      background-color: #f44336; /* Red */
      border: none;
      color: white;
      padding: 15px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      width: 50%;
      margin: auto;
  }

  #submit-wrapper {
      text-align: center;
  }

  #submit-wrapper button {
      background-color: $buttonColor;
      border: none;
      color: white;
      padding: 15px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      width: 90%;
      margin: auto;
  }

  #donateWrapper {
      text-align: center;
  }

  #donateWrapper button {
      background-color: #ffc438; /* Gold */
      color: black;
      border: none;
      padding: 15px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      width: 50%;
      margin: auto;
  }

  #image-wrapper {
    margin:0 auto;
    text-align:center;
  }

  #image-wrapper box-image {
    height: 33%;
  }

  .amount {
    width: 90%;
  }

  .button {
    background-color: $buttonColor;
    font-size: 16px;
  }

  .boxTotal {
    color: #203d7c;
    text-align: center;
    font-size: 20px;
  }

}
