<ion-header>
    <ion-title>
      History
    </ion-title>
  </ion-header>

  <ion-content padding>
    <h2>My Charity History</h2>
    <ion-list *ngIf = 'gifts'>
      <ion-item-sliding *ngFor="let gift of gifts; let i=index">
        <ion-item nopadding>
          <p>
            {{gift.id}}
            Type: {{gift.type}}<br>
          </p>
          <h3 item-end>
            Amount: ${{gift.amount}}
          </h3>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-content>

<ion-footer>
<!--  <ion-toolbar>
    <ion-title>Box Value: ${{boxValue}}</ion-title>
  </ion-toolbar>
-->
</ion-footer>
