<ion-header>
  <ion-navbar>
    <ion-title>
      History
    </ion-title>
  </ion-navbar>
</ion-header>


  <ion-content padding>

<h2>My Charity History</h2>
<ion-title>Total Donated: ${{ sqliteProvider.donationTotal | number : '1.2-2' }}</ion-title>
<ion-title>Total Given: ${{ sqliteProvider.historyTotal | number : '1.2-2' }}</ion-title>

    <ion-list *ngIf = 'sqliteProvider.gifts'>
      <ion-item-sliding *ngFor="let gift of sqliteProvider.gifts; let i=index">
        <ion-item nopadding>
          <p>
            {{gift.id}}
            Type: {{gift.type}}<br>
          </p>
          <h3 item-end>
            Amount: ${{gift.amount}}
          </h3>
        </ion-item>
          <ion-item-options side="right">
          <button ion-button color="primary" (click)="editData(gift.id)">
            <ion-icon name="paper"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="deleteData(gift.id)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>

<ion-footer padding>
<h3>Those Pennies Really Add Up!</h3>
</ion-footer>
